<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.intelligent.reader">

    <application>
        <meta-data
            android:name="WECHAT_SECRET"
            android:value="${WECHAT_SECRET}" />

        <activity
            android:name=".activity.usercenter.UserProfileActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeTranslucent" />
        <activity
            android:name=".activity.usercenter.EditUserProfileActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeTranslucent" />
        <activity
            android:name=".activity.usercenter.BindPhoneActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeTranslucent" />
    </application>

</manifest>