<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.dy.reader">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <activity
            android:name=".activity.ReaderActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|uiMode|navigation"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:screenOrientation="nosensor"
            android:theme="@style/Theme.DesignDemo"/>

        <activity
            android:name=".activity.BookEndActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeTranslucent"/>

        <activity
            android:name=".activity.DisclaimerActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppThemeTranslucent"/>

        <service
            android:name=".service.FontDownLoadService"
            android:exported="false"/>

    </application>

</manifest>